body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aaba9e;
}

.container {
    max-width: 400px;
    background-color: #e3e5e2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

label, input, button {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

input, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button {
    background-color: #5d9f5f;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4c8a4c;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
}